NODE_ENV=development

BACKEND_PORT=5000
NODE_ENV=development

BACKEND_PORT=5000
PORT=5000

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/mfi360

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/mfi360

AI_SERVICE_URL=http://ai-service:8000

UPLOAD_DIR=src/uploads
MAX_FILE_SIZE_MB=500000000
TEAM_NAME=SemicolonKoi?

POSTGRES_USER=postgresjj
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mfi360